
header {
    margin-left: 50px;
}

body {
    background-color: #e6e6e6;
}

.chart {
    border-style: solid;
    border-width: 30px;
    border-color: #f2f2f2;
    max-width: 1250px;
    margin: auto;
    margin-bottom: 30px;
}